.container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  min-height: 100%;
}
.container > * {
  align-self: center;
}
.full-width {
  width: 100%;
  height: 100%;
}
.text-center {
  text-align: center;
}
