.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(7, 1fr)
}

.header {
  grid-column: 1 / -1;
}

.aside {
  grid-column: 1 / span 2;
  grid-row: 2 / -1;
  box-shadow: 0 2px 5px 0 rgba(49, 39, 17, 0.65);
  z-index: 5;
}

.footer {
  grid-column: 3 / -1;
  grid-row: 7 / -1;
  box-shadow: 0px -2px 5px 0 rgba(49, 39, 17, 0.65);
}

.gestor {
  grid-column: 3 / -1;
  grid-row: 2 / span 5;
}
