<div class="container">
  <app-header [user]="user" (closeSession)="logout($event)" (showHelp)="goHelp($event)" (ShowUser)="goUser($event)"
              class="header"></app-header>
  <app-aside class="aside" [rol]="rol" (schedule)="goSchedule($event)" (home)="goHome($event)"></app-aside>
  <section class="gestor" [@agendarAnimation]="state">
    <router-outlet></router-outlet>
  </section>
  <app-footer class="footer"></app-footer>
</div>
