<pre class='xdebug-var-dump' dir='ltr'>
<small>/home/joanserna/code/projects/GestionDeCitasMedicas/api-pycloudme/Routes/Routing.php:8:</small>
<b>array</b> <i>(size=22)</i>
  'DOCUMENT_ROOT' <font color='#888a85'>=&gt;</font> <small>string</small> <font
        color='#cc0000'>'/home/joanserna/code/projects/GestionDeCitasMedicas/api-pycloudme'</font> <i>(length=65)</i>
  'REMOTE_ADDR' <font color='#888a85'>=&gt;</font> <small>string</small> <font
        color='#cc0000'>'127.0.0.1'</font> <i>(length=9)</i>
  'REMOTE_PORT' <font color='#888a85'>=&gt;</font> <small>string</small> <font
        color='#cc0000'>'54008'</font> <i>(length=5)</i>
  'SERVER_SOFTWARE' <font color='#888a85'>=&gt;</font> <small>string</small> <font
        color='#cc0000'>'PHP 7.2.5-1+ubuntu18.04.1+deb.sury.org+1 Development Server'</font> <i>(length=59)</i>
  'SERVER_PROTOCOL' <font color='#888a85'>=&gt;</font> <small>string</small> <font
        color='#cc0000'>'HTTP/1.1'</font> <i>(length=8)</i>
  'SERVER_NAME' <font color='#888a85'>=&gt;</font> <small>string</small> <font
        color='#cc0000'>'localhost'</font> <i>(length=9)</i>
  'SERVER_PORT' <font color='#888a85'>=&gt;</font> <small>string</small> <font
        color='#cc0000'>'8082'</font> <i>(length=4)</i>
  'REQUEST_URI' <font color='#888a85'>=&gt;</font> <small>string</small> <font
        color='#cc0000'>'/users?name=joan'</font> <i>(length=16)</i>
  'REQUEST_METHOD' <font color='#888a85'>=&gt;</font> <small>string</small> <font
        color='#cc0000'>'GET'</font> <i>(length=3)</i>
  'SCRIPT_NAME' <font color='#888a85'>=&gt;</font> <small>string</small> <font
        color='#cc0000'>'/index.php'</font> <i>(length=10)</i>
  'SCRIPT_FILENAME' <font color='#888a85'>=&gt;</font> <small>string</small> <font
        color='#cc0000'>'/home/joanserna/code/projects/GestionDeCitasMedicas/api-pycloudme/index.php'</font> <i>(length=75)</i>
  'PATH_INFO' <font color='#888a85'>=&gt;</font> <small>string</small> <font
        color='#cc0000'>'/users'</font> <i>(length=6)</i>
  'PHP_SELF' <font color='#888a85'>=&gt;</font> <small>string</small> <font
        color='#cc0000'>'/index.php/users'</font> <i>(length=16)</i>
  'QUERY_STRING' <font color='#888a85'>=&gt;</font> <small>string</small> <font
        color='#cc0000'>'name=joan'</font> <i>(length=9)</i>
  'HTTP_ACCEPT' <font color='#888a85'>=&gt;</font> <small>string</small> <font
        color='#cc0000'>'*/*'</font> <i>(length=3)</i>
  'HTTP_CACHE_CONTROL' <font color='#888a85'>=&gt;</font> <small>string</small> <font
        color='#cc0000'>'no-cache'</font> <i>(length=8)</i>
  'HTTP_HOST' <font color='#888a85'>=&gt;</font> <small>string</small> <font
        color='#cc0000'>'localhost:8082'</font> <i>(length=14)</i>
  'HTTP_CONNECTION' <font color='#888a85'>=&gt;</font> <small>string</small> <font
        color='#cc0000'>'Keep-Alive'</font> <i>(length=10)</i>
  'HTTP_USER_AGENT' <font color='#888a85'>=&gt;</font> <small>string</small> <font
        color='#cc0000'>'Apache-HttpClient/4.5.2 (Java/1.8.0_152-release)'</font> <i>(length=48)</i>
  'HTTP_ACCEPT_ENCODING' <font color='#888a85'>=&gt;</font> <small>string</small> <font
        color='#cc0000'>'gzip,deflate'</font> <i>(length=12)</i>
  'REQUEST_TIME_FLOAT' <font color='#888a85'>=&gt;</font> <small>float</small> <font
        color='#f57900'>1527961312.1712</font>
  'REQUEST_TIME' <font color='#888a85'>=&gt;</font> <small>int</small> <font
        color='#4e9a06'>1527961312</font>
</pre>[{"id":1,"name":"yenifer","email":"yenifer@misena.edu.co"},{"id":2,"name":"joan","email":"jmserna@misena.edu.co"}]