<div class="container">
  <app-header [user]="datas" (closeSession)="logout($event)" class="header" (ShowUser)="userEvent($event)" (Ayudashow)="ayudaEvent($event)"></app-header>
  <app-aside class="aside" [rol]="rol" (VerAgenda)="MostrarAgenda($event)" (home)="inicio($event)"></app-aside>

  <!--contenido de usuario-->
  <section class="medico" *ngIf="userBoolean">
    <mat-grid-list cols="3" rowHeight="100px" style="max-width : 1000px;">
      <mat-grid-tile *ngFor="let data of medico; let i = index">
        <button mat-raised-button color="primary">{{data.propiedad}}</button>
        <span>{{data.valor}}</span>
      </mat-grid-tile>
    </mat-grid-list>
  </section>
  <!--contenido de agenda-->
  <section class="medico" *ngIf="agenBoolean">
    <mat-grid-list cols="6" rowHeight="100px">
      <mat-grid-tile>
        <button mat-raised-button color="primary">Abril 27 del 2018</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="primary" (click)="salir($event)">salir</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="primary">Ver paciente</button>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi="true" #picker></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile rowspam="250px">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 list">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
          </tr>
        </table>

      </mat-grid-tile>
    </mat-grid-list>
  </section>
  <!--contenido de ayuda-->
  <section class="medico" *ngIf="ocultarayuda">
    <mat-grid-list cols="6" rowHeight="100px">
      <mat-grid-tile>
        <button mat-raised-button color="primary">Mensaje de ayuda</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="primary">Enviar</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="primary" (click)="salir($event)">Cancelar</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="primary" (click)="adjun($event)">Adjuntar</button>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="500px" style="max-width:1000px;">
      <mat-grid-tile>
        <textarea style="width : 900px; height : 400px;"></textarea>
      </mat-grid-tile>
    </mat-grid-list>
  </section>


  <!--contenido de ayuda-adjuntar-->

  <section class="medico" *ngIf="showadjuntar">
    <mat-grid-list cols="1" rowHeight="100px" style=" max-width : 300px">
      <mat-grid-tile>
        <button mat-raised-button color="secundary">Mensaje de ayuda</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <label>
          subir imagen
          <input type="file" name="filesubir" (change)="subirImagen($event)">
        </label>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="primary">adjuntar</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="primary" (click)="salir($event)">Cancelar</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <textarea style=" height : 80px; max-width : 200px;">porfavor no enviar un solo documento en formato de "pdf" no mayor a 1 mega</textarea>
      </mat-grid-tile>
    </mat-grid-list>
  </section>


  <app-footer class="footer"></app-footer>
</div>
