.container {
  max-width: 100%;
  height: 100%;
  //padding: 50px;
}

.data-user {
  //max-width: 200px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  grid-gap: 10px;
  //grid-auto-flow: column;
  grid-template-rows: repeat(auto-fit, 1fr);
}

.button {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
