<div class="container">
  <button mat-stroked-button color="primary">Cuenta de Usuario</button>
  <div class="data-user">
    <section class="button">
      <button mat-raised-button color="primary">Tipo de Documento</button>
      <mat-form-field>
        <input type="text" matInput value="Cedula Ciudadania" placeholder="Cedula" disabled>
      </mat-form-field>
    </section>
    <section class="button">
      <button mat-raised-button color="primary">Tipo de Documento</button>
      <mat-form-field>
        <input type="text" matInput value="Cedula Ciudadania" placeholder="Cedula" disabled>
      </mat-form-field>
    </section>
    <section class="button">
      <button mat-raised-button color="primary">Tipo de Documento</button>
      <mat-form-field>
        <input type="text" matInput value="Cedula Ciudadania" placeholder="Cedula" disabled>
      </mat-form-field>
    </section>
    <section class="button">
      <button mat-raised-button color="primary">Tipo de Documento</button>
      <mat-form-field>
        <input type="text" matInput value="Cedula Ciudadania" placeholder="Cedula" disabled>
      </mat-form-field>
    </section>
    <section class="button">
      <button mat-raised-button color="primary">Tipo de Documento</button>
      <mat-form-field>
        <input type="text" matInput value="Cedula Ciudadania" placeholder="Cedula" disabled>
      </mat-form-field>
    </section>
    <section class="button">
      <button mat-raised-button color="primary">Tipo de Documento</button>
      <mat-form-field>
        <input type="text" matInput value="Cedula Ciudadania" placeholder="Cedula" disabled>
      </mat-form-field>
    </section>
    <section class="button">
      <button mat-raised-button color="primary">Tipo de Documento</button>
      <mat-form-field>
        <input type="text" matInput value="Cedula Ciudadania" placeholder="Cedula" disabled>
      </mat-form-field>
    </section>
    <section class="button">
      <button mat-raised-button color="primary">Tipo de Documento</button>
      <mat-form-field>
        <input type="text" matInput value="Cedula Ciudadania" placeholder="Cedula" disabled>
      </mat-form-field>
    </section>
    <section class="button">
      <button mat-raised-button color="primary">Tipo de Documento</button>
      <mat-form-field>
        <input type="text" matInput value="Cedula Ciudadania" placeholder="Cedula" disabled>
      </mat-form-field>
    </section>
    <section class="button">
      <button mat-raised-button color="primary">Tipo de Documento</button>
      <mat-form-field>
        <input type="text" matInput value="Cedula Ciudadania" placeholder="Cedula" disabled>
      </mat-form-field>
      </section>
    <section class="button">
      <button mat-raised-button color="primary">Tipo de Documento</button>
      <mat-form-field>
        <input type="text" matInput value="Cedula Ciudadania" placeholder="Cedula" disabled>
      </mat-form-field>
    </section>
  </div>
</div>
