<div class="aside">
  <button mat-button color="primary" class="aside--button" (click)=goHome()>Inicio</button>
  <button mat-button color="primary" class="aside--button" (click)="agenCita()" *ngIf="rol == 2 || rol == 4">Agendar
  </button>
  <button mat-button color="primary" class="aside--button" *ngIf="rol === 1" (click)="Config()">Configuracion</button>
  <button mat-button color="primary" class="aside--button" *ngIf="rol === 1" (click)="buscarP()">Buscar
                                                                                                   personal</button>
  <button mat-button color="primary" class="aside--button" *ngIf="rol === 1" (click)="crearM()">Crear médico</button>
  <button mat-button color="primary" class="aside--button" *ngIf="rol === 1" (click)="crearG()">Crear gestor</button>
  <button mat-button color="primary" class="aside--button" *ngIf="rol === 1" (click)="Reportes()">Reportes</button>
  <button mat-button color="primary" class="aside--button" *ngIf="rol === 2">Correo</button>
  <button mat-button color="primary" class="aside--button" *ngIf="rol === 4" (click)="CancelarCita()">Cancelar
    Cita</button>
  <button mat-raised-button color="primary" class="aside--button" *ngIf="rol === 3" (click)="Agenda()">Agenda</button>
</div>
