.aside{
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  //background-color: #3f51b5;
  color: white;
  &--button {
    margin: .5em 0;
    border: 1px solid #3f51b5;
    border-radius: 10px;
  }
}
