<section class="container">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="toolbar">
      <h1 class="toolbar__title">Iniciar Sesión</h1>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card class="card">
    <mat-card-content class="card--content">
      <form class="card__form" [formGroup]="form" (ngSubmit)="onLogin(form.value)">
        <mat-form-field>
          <mat-select placeholder="Tipo de Documento" formControlName="tpd_document_id">
            <mat-option *ngFor="let document of typeOfDocuments" [value]="document.value">{{document.view}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input type="number" placeholder="Documento" matInput formControlName="number_document" min="9">
        </mat-form-field>
        <mat-form-field>
          <input type="text" placeholder="Nombre de Usuario" matInput formControlName="nickname">
        </mat-form-field>
        <mat-form-field>
          <input type="password" placeholder="Contraseña" matInput formControlName="password">
        </mat-form-field>
        <button mat-raised-button color="primary" class="w-100" [disabled]="form.invalid">Entrar</button>
      </form>
    </mat-card-content>
  </mat-card>
</section>
