.footer {
  width: 99.95%;
  height: 99.5%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-flow: column nowrap;
  &--title {
    margin: 0;
    //margin-top: 13px;
    //margin-bottom: 0;
    text-decoration: underline;
    transform: rotate(-15deg);
  }
  &--phone {
    font-size: .7em;
  }
  &--city {
    margin: 0;
    font-size: .7em;
  }
}
