.header {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: space-evenly;
  flex-flow: column wrap;
  flex: 1 1 auto;
  box-shadow: 0 2px 5px 0 rgba(49, 39, 17, 0.65);
  &__button,
  &__data {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    & > img {
      border: 2px solid white;
      border-radius: 50%;
      max-width: 100%;
    }
  }
}
.icon-data {
  margin-right: 5px;
}
.buttonHeader {
  border: 1px solid rgba(255, 255, 255, 0.49);
  border-radius: 10px;
}

