<mat-toolbar class="header" color="primary">
  <div class="header__picture">
    <img src="../../../assets/profile.png" alt="profile">
  </div>
  <section *ngFor="let data of user" class="header__data">
    <mat-icon color="secondary" class="icon-data">{{data.icon}}</mat-icon>{{data.text}}
  </section>
  <section class="header__button">
    <button mat-button (click)="logoutEvent()" class="buttonHeader">
      <mat-icon >power_settings_new</mat-icon>
      Cerrar Sesion
    </button>
  </section>
  <section class="header__button">
    <button mat-button (click)="help()" class="buttonHeader">
      <mat-icon >help</mat-icon>
      Ayuda
    </button>
  </section><section class="header__button">
    <button mat-button (click)="userClicked()" class="buttonHeader">
      <mat-icon color="">account_circle</mat-icon>
      Usuario
    </button>
  </section>
</mat-toolbar>
