.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.header {
  grid-column: 1 / -1;
}

.aside {
  grid-column: 1 / span 2;
  grid-row: 2 / -1;
  box-shadow: 0 2px 5px 0 rgba(49, 39, 17, 0.65);
}

.admin {
  grid-column: 3 / -1;
  margin-top: 50px;
  //margin-left: 150px;
}

#jumbotrom {
  background: #e0e0e0;
  height: 300px;
  width: 700px;
  margin-left: 200px;
}

h1 {
  color: blue;
  font-size: 40px;
}

button {
  margin-left: 20px;
}

.footer {
  grid-column: 3 / -1;
  grid-row: 7  / -1;
  box-shadow: 0px -2px 5px 0 rgba(49, 39, 17, 0.65);
}

.title {
  display: flex;
  justify-content: center;
}

.slider {
  text-align: center;
  //display: flex;
  //align-items: center;
  //flex-direction: column;
  &-title{
    display: block;
    flex-basis: 100%;
  }
  &-info{
    flex-basis: 50%;
  }
}
