<div class="container">
  <app-header [user]="datas" (closeSession)="logout($event)" class="header"></app-header>
  <app-aside class="aside" [rol]="rol"
             (home)="goHome($event)" (Buscar)="asideBuscar($event)" (crearUser)="asideCrear($event)"
             (crearGes)="asideCrearG($event)" (Reports)="asideRport($event)" (Confi)="asideConfig($event)"
  ></app-aside>
  <div class="admin" id="jumbotrom" align="center" *ngIf="BuscarPers">
    <h1>Busqueda de personal</h1>
    <mat-grid-list [cols]="1" [rowHeight]="70">
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Numero de documento">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Nombre">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <button mat-raised-button color="primary">Aceptar</button>
    <button mat-raised-button color="primary">Cancelar</button>
  </div>
  <div class="admin" *ngIf="crear" align="center">
    <h1>Crear usuario médico</h1>
    <mat-grid-list [cols]="16" rowHeight="70">
      <mat-grid-tile [colspan]="4">
        <mat-select placeholder="Tipo de documento">
          <mat-option *ngFor="let doc of listDoc" [value]="doc.value">
            {{doc.ViewValue}}
          </mat-option>
        </mat-select>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4">
        <mat-form-field>
          <input matInput type="number" placeholder="Numero de documento" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4">
        <mat-form-field>
          <input matInput placeholder="Nombres" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4">
        <mat-form-field>
          <input matInput placeholder="Apellidos" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4">
        <mat-form-field>
          <input matInput type="number" placeholder="Telefono fijo">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4">
        <mat-form-field>
          <input matInput type="number" placeholder="Celular" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4">
        <mat-form-field>
          <input matInput placeholder="Profesión" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4">
        <mat-form-field>
          <input matInput type="email" placeholder="Email" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4">
        <mat-form-field>
          <input matInput placeholder="Especialidad 1">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4">
        <mat-form-field>
          <input matInput placeholder="Especialidad 2">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4">
        <button mat-raised-button color="primary">Guardar</button>
        <button mat-raised-button color="primary">Cancelar</button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4">
        <mat-form-field>
          <input matInput placeholder="Jornada" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4">
        <mat-form-field>
          <input matInput placeholder="Departemento" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4">
        <mat-form-field>
          <input matInput placeholder="Especialidad 3">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="admin" align="center" *ngIf="crearGest">
    <h1>Crear usuario gestor</h1>
    <mat-grid-list [cols]="10" rowHeight="70">
      <mat-grid-tile [colspan]="3">
        <mat-select placeholder="tipo de documento">
          <mat-option *ngFor="let doc of listDoc" [value]="doc.value" required>
            {{doc.ViewValue}}
          </mat-option>
        </mat-select>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">
        <mat-form-field>
          <input matInput placeholder="Numero de documento" type="number" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">
        <mat-form-field>
          <input matInput placeholder="Nombres" type="text" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">
        <mat-form-field>
          <input matInput placeholder="Apellidos" type="text" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">
        <mat-form-field>
          <input matInput placeholder="Email" type="email">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">
        <mat-form-field>
          <input matInput placeholder="Numero celular" type="number" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">
        <mat-form-field>
          <input matInput placeholder="dirección" type="text" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">
        <button mat-raised-button color="primary">Guardar</button>
        <button mat-raised-button color="primary">Cancelar</button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <h1>foto</h1>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="admin" *ngIf="reportes">
    <h1 class="title">Reportes citas</h1>
    <mat-grid-list cols="6" rowHeight="70px">
      <mat-grid-tile colspan="2">
        <mat-form-field>
          <input matInput [matDatepicker]="picker1" placeholder="Seleccione fecha inicio">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="4" rowspan="3">
        <h1>gráfica</h1>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <mat-form-field>
          <input matInput [matDatepicker]="picker2" placeholder="Seleccione fecha fin">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <button mat-raised-button color="primary">Aceptar</button>
      </mat-grid-tile>

    </mat-grid-list>
  </div>
  <div class="admin" *ngIf="configure">
    <h1 align="center">Configuración del sistema</h1>
    <form [formGroup]="formConfiguracionSistema" (submit)="addConfig(formConfiguracionSistema)">
      <mat-grid-list [cols]="8" rowHeight="70">
        <mat-grid-tile [colspan]="4">
          <h4>Configure duración de cada cita </h4>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4">
          <h4>Configure horario de atención</h4>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4">
          <div class="slider">
            <small class="slider-title">General</small>
            <span class="slider-info">{{formConfiguracionSistema.value.duracion_citageneral}} <small
              *ngIf="formConfiguracionSistema.value.duracion_citageneral">minutos</small></span>
            <mat-slider
              formControlName="duracion_citageneral"
              [max]="120"
              [min]="15"
              [step]="15"
              [thumbLabel]="true"
              [tickInterval]="auto"
              [color]="primary"
              [disabled]="false">
            </mat-slider>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4">
          <mat-form-field>
            <input matInput placeholder="Primer hora" type="time" required formControlName="hora_inicio">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4">
          <div class="slider">
            <small class="slider-title">Especialista</small>
            <span class="slider-info">{{formConfiguracionSistema.value.duracion_cita_especialista}} <small
              *ngIf="formConfiguracionSistema.value.duracion_cita_especialista">minutos</small></span>
            <mat-slider
              formControlName="duracion_cita_especialista"
              [max]="120"
              [min]="15"
              [step]="15"
              [thumbLabel]="true"
              [tickInterval]="auto"
              [color]="primary"
              [disabled]="false">
            </mat-slider>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4">
          <mat-form-field>
            <input matInput placeholder="Última hora" type="time" required formControlName="ultima_hora">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4">
          <div class="slider">
            <small class="slider-title">Laboratorio</small>
            <span class="slider-info">{{formConfiguracionSistema.value.duracion_cita_laboratorio}} <small
              *ngIf="formConfiguracionSistema.value.duracion_cita_laboratorio">minutos</small></span>
            <mat-slider
              formControlName="duracion_cita_laboratorio"
              [max]="120"
              [min]="15"
              [step]="15"
              [thumbLabel]="true"
              [tickInterval]="auto"
              [color]="primary"
              [disabled]="false">
            </mat-slider>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4">
          <button mat-raised-button color="primary" type="submit" [disabled]="formConfiguracionSistema.invalid">Aceptar
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </div>
  <app-footer class="footer"></app-footer>
</div>

