.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(7,1fr);
}
.header {
  grid-column: 1 / -1 ;
}
.aside {
  grid-column: 1 / span 2;
  grid-row: 2 / -1;
  box-shadow: 0 2px 5px 0 rgba(49, 39, 17, 0.65);
}
.paciente{
  grid-column: 3 / -1;
  margin-top: 50px;
  margin-right: 40px;
}
h1{
  color: blue;
  font-size: 40px;
}
.nota{
  color: #F44336;
}
.cancelCita{
  margin-left: 200px;
}
.butto{
  margin-right: 20px;
  margin-top: 15px;
}
.footer {
  grid-column: 3 / -1;
  grid-row: 7  / -1;
  box-shadow: 0px -2px 5px 0 rgba(49, 39, 17, 0.65);
}
