<div class="container">
  <app-header [user]="datas" (closeSession)="logout($event)" class="header"></app-header>
  <app-aside class="aside" [rol]="rol" (schedule)="asideAgen($event)" (cancelar)="asideCancelar($event)"
             (home)="goHome($event)"></app-aside>
  <div class="paciente" align="center" *ngIf="agendar">
    <h1>Agendar cita médica</h1>
    <mat-grid-list cols="5" rowHeight="50px">
      <mat-grid-tile [colspan]="2">
        <h2>Tipo servivio</h2>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">
        <mat-select placeholder="Seleccione el tipo de servicio">
          <mat-option *ngFor="let servic of servicios" [value]="servic.value">
            {{ servic.ViewValue }}
          </mat-option>
        </mat-select>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2">
        <h2>Área especializada</h2>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">
        <mat-select placeholder="Seleccione el área especializada">
          <mat-option *ngFor="let especialista of listaEspecialis" [value]="especialista.value">
            {{ especialista.ViewValue }}
          </mat-option>
        </mat-select>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2">
        <h2>Nombre del profesional</h2>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">
        <mat-select placeholder="Seleccione el nombre del profesional">
          <mat-option *ngFor="let professio of listaProfessi" [value]="professio.value">
            {{ professio.ViewValue}}
          </mat-option>
        </mat-select>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2">
        <h2>Fecha de la cita</h2>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Seleccione la fecha">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
       <mat-grid-tile [colspan]="2">
        <h2>Hora de la cita</h2>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">
        <mat-select placeholder="Seleccione la hora">
          <mat-option *ngFor=" let hora of listHora" [value]="hora.value">
              {{hora.ViewValue}}
          </mat-option>
        </mat-select>
      </mat-grid-tile>
    </mat-grid-list>
    <button mat-raised-button color="primary" class="butto" disabled (click)="openDialog()">Aceptar</button>
    <button mat-raised-button color="primary" class="butto">Cancelar</button>
  </div>
  <div class="paciente" *ngIf="cancelacion" align="center">
    <h1>Cancelar cita médica</h1>
    <p class="nota">
      SI NO PUDE ASISTR A SU CITA MEDICA, RECUERDE CANCELAR LA CON MINIMO 4 HORAS DE ANTICIPACIÓN
    </p>
    <mat-grid-list class="cancelCita" [cols]="5" rowHeight="70">
      <mat-grid-tile colspan="2">
          <mat-form-field>
            <input matInput placeholder="Tipo de servicio" disabled>
          </mat-form-field>
      </mat-grid-tile>
	  <mat-grid-tile colspan="3">
             <h2>Consultar fecha de la cita a cancelar</h2>
      </mat-grid-tile>
	  <mat-grid-tile colspan="2">
		  <mat-form-field>
            <input matInput placeholder="Área especieliazada" disabled>
          </mat-form-field>
	  </mat-grid-tile>
       <mat-grid-tile colspan="3">
	       <mat-select placeholder="Seleccione fecha de cita">
				<mat-option *ngFor="let fecha of listaFecha" [value]="fecha.value">
					{{fecha.ViewValue}}
				</mat-option>
	       </mat-select>
       </mat-grid-tile>
       <mat-grid-tile colspan="2">
	      <mat-form-field>
            <input matInput placeholder="Nombre del profesional" disabled>
          </mat-form-field>
       </mat-grid-tile>
    </mat-grid-list>
	   <button mat-raised-button color="primary" disabled>Cancelar</button>
  </div>
  <app-footer class="footer"></app-footer>
</div>
